<body>
    <nav class="navbar d-flex justify-content-start teal" style="height: 82px;">
        <a class="navbar-brand" routerLink='/dashboard'>
            <img src="assets/logo.png" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" style="color:white;margin-left: 850px;"routerLink='/dashboard'> Dashboard</a>
        <a class="navbar-brand" style="color:white;margin-left: 10px;" routerLink='/analytics'> Analytics</a>
        <a class="navbar-brand" style="color:white;margin-left: 10px;" href="#">Logout</a>
    </nav>
    <div class="row">
    <div class="col-7 offset-3 card mb-3" >
        <div class="row no-gutters">
            <div class="col-3">
                <div class="card-header btn-outline-teal">
                    <img [src]= "user.profile_photo" class="card-img-top" style="max-height: 150px;" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <h6 class="text-muted">Email: {{user.email}}</h6>
                    <h6 class="text-muted">Student Status: {{user.year}}</h6>
                    <h6 class="text-muted">Password: {{user.password}}</h6>
                </div>
            </div>
            <div class="col-8 offset-1">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <div *ngIf="twom_exists()">
                        <li class="list-group-item">
                            <h5> Two Month Internship : {{user.two_month_internship}}</h5>
                            <star-rating [value]="r_2m" checkedcolor="yellow" uncheckedcolor="gray" size="24px" readonly="false" (rate)="onRate_2m($event)"></star-rating>
                        </li>
                    </div>
                    <div *ngIf="sixm_exists()">
                        <li class="list-group-item">
                            <h5> Six Month Internship : {{user.six_month_internship}}</h5>
                            <star-rating [value]="r_6m" checkedcolor="yellow" uncheckedcolor="gray" size="24px" readonly="false" (rate)="onRate_6m($event)"></star-rating>
                        </li>
                    </div>
                    <div *ngIf="ft_exists()">
                        <li class="list-group-item">
                            <h5> Full Time Employment : {{user.fulltime}}</h5>
                            <star-rating [value]="r_ft" checkedcolor="yellow" uncheckedcolor="gray" size="24px" readonly="false" (rate)="onRate_fulltime($event)"></star-rating>
                        </li>
                    </div>
                    <li class="list-group-item">Numbers of questions asked: {{qcount}}</li>
                      <li class="list-group-item">Number of answers: {{acount}}</li>
                      <li class="list-group-item">Number of upvotes: {{upcount}}</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    </div>
</body>