<body>
    <nav class="navbar d-flex justify-content-start teal">
        <a class="navbar-brand" href="#">
            <img src="assets/logo.png" width="30" height="30" alt="">
        </a>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input id="search" #searches type="text" placeholder="Search" aria-label="Number" matInput [formControl]="tagControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let tag of filteredOptions | async" [value]="tag" (click)="search(tag)">
                {{tag}}
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <button class="close" aria-label="Close" (click)="refreshFeed()"> 
        <span aria-hidden="true">
            &times;
        </span>
    </button>
    <a class="navbar-brand" style="color:white;margin-left: 700px;"routerLink='/profile'> Profile</a>
     <a class="navbar-brand" style="color:white;margin-left: 10px;" routerLink='/analytics'> Analytics</a>
      <a class="navbar-brand" style="color:white;margin-left: 10px;" href="#">Logout</a>
    </nav>
      <div class="row">
        <div class="col-2">
            <div class="card">
                <div class="card-header btn-outline-teal">
                    <h5 class="card-title">{{user.name}}</h5>
                </div>
                <div class="card-body">
                    <h6 class="text-muted">{{user.email}}</h6>
                    <h6 class="text-muted">{{user.year}}</h6>
                    <h6 *ngIf="user.two_month_internship" class="text-muted">2 Month Internship: {{user.two_month_internship}}</h6>
                    <h6 *ngIf="user.six_month_internship" class="text-muted">6 Month Internship: {{user.six_month_internship}}</h6>
                    <h6 *ngIf="user.fulltime" class="text-muted">Full Time Employment: {{user.fulltime}}</h6>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-teal" routerLink='/profile'>Profile</button>
                </div>
            </div>
        </div>
        <div class="col-7">
            <app-feed-form (questionAdded)="questionAdded()" ></app-feed-form>
            <app-feed [searched]="searched" [searchArray]="opArray"></app-feed>
        </div>
    </div>
</body>