<!-- <div>
    <div id="chartContainer" style="height: 370px; width: 50%; margin-left:auto;margin-right:auto;">
    </div>
</div>
<h5 style="text-align:center">Number of users in this company</h5>
<div>
    <div  style="display:block" *ngIf="chartReady">
    <canvas class = "canvas-class" style="border:1px" baseChart
                [data]="demodoughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"></canvas>
    </div>
</div> -->

<body>
        <nav class="navbar d-flex justify-content-start teal">
            <a class="navbar-brand" routerLink='/dashboard'>
                <img src="assets/logo.png" width="30" height="30" alt="">
            </a>
        
        <a class="navbar-brand" style="color:white;margin-left: 880px;"routerLink='/profile'> Profile</a>
         <a class="navbar-brand" style="color:white;margin-left: 10px;" routerLink='/dashboard'> Dashboard</a>
          <a class="navbar-brand" style="color:white;margin-left: 10px;" href="#">Logout</a>
        </nav>
    


        <div class="row" style="margin-top: 5%;">
            <div class="col-4 offset-md-1">
                <div id="chartContainer" ></div>
            </div>
            <div class="col-4 offset-md-1">
                <div id="ctx"></div>
            </div>
        </div>
</body>


