<div class="row">
    <div class="card col-12">
        <div class="card-header">
            <div class="d-inline-block">
                <h5 class="card-title">Question</h5>
                <h6 class="card-subtitle mb-2 text-muted">ques_email</h6>
                <h6 class="card-subtitle mb-2 text-muted">category</h6>
            </div>
            <div class="d-inline-block float-right">
                <button type="button" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Answer 1</li>
                <li class="list-group-item">Answer 2</li>
                <li class="list-group-item">Answer 3</li>
            </ul>
            <form class="form-inline row">
                <div class="form-group mx-sm-3 mb-2 col-10">
                    <input type="password" class="form-control w-100" placeholder="Enter Answer">
                </div>
                <button type="submit" class="btn btn-outline-teal mb-2">Answer</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            Timestamp
        </div>
    </div>
    <div class="card col-12">
            <div class="card-header">
                <div class="d-inline-block">
                    <h5 class="card-title">Question</h5>
                    <h6 class="card-subtitle mb-2 text-muted">ques_email</h6>
                    <h6 class="card-subtitle mb-2 text-muted">category</h6>
                </div>
                <div class="d-inline-block float-right">
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Answer 1</li>
                    <li class="list-group-item">Answer 2</li>
                    <li class="list-group-item">Answer 3</li>
                </ul>
                <form class="form-inline row">
                    <div class="form-group mx-sm-3 mb-2 col-10">
                        <input type="password" class="form-control w-100" placeholder="Enter Answer">
                    </div>
                    <button type="submit" class="btn btn-outline-primary mb-2">Answer</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                Timestamp
            </div>
        </div>
        <div class="card col-12">
                <div class="card-header">
                    <div class="d-inline-block">
                        <h5 class="card-title">Question</h5>
                        <h6 class="card-subtitle mb-2 text-muted">ques_email</h6>
                        <h6 class="card-subtitle mb-2 text-muted">category</h6>
                    </div>
                    <div class="d-inline-block float-right">
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Answer 1</li>
                        <li class="list-group-item">Answer 2</li>
                        <li class="list-group-item">Answer 3</li>
                    </ul>
                    <form class="form-inline row">
                        <div class="form-group mx-sm-3 mb-2 col-10">
                            <input type="password" class="form-control w-100" placeholder="Enter Answer">
                        </div>
                        <button type="submit" class="btn btn-outline-primary mb-2">Answer</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    Timestamp
                </div>
            </div>
</div>