div.row {
    margin: 10px;
    max-width: 100%;
}

div.card {
    padding: 0;
    margin-top: 20px;
}

div.card-header {
    margin: 0px;
}

form {
    margin-top: 20px;
}

button.btn-outline-danger {
    margin-left: -20px;
}

#upvote{
    cursor: pointer;
}